.banner {
    background: url("../img/banner-image.png") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    color: var(--branco);
    position: relative;
}

.banner__container {
    position: absolute;
    top: 45%;
    left: 10%;
}

.banner__titulo {
    font-weight: 700;
    font-size: 52px;
}

.banner__descricao {
    font-weight: 700;
    font-size: 22px;
    margin: 1rem 0;  
}

.banner__botao {
    display: inline-block;
    font-family: var(--fonte-padrao);
    color: var(--branco);
    background-color: var(--azul-botao);
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    
    .banner {
        height: 55vh;
    }

    .banner__container {
        left: 5%;
    }

    .banner__botao {
        font-weight: 600;
        font-size: 14px;
    }

}

@media screen and (max-width: 425px) {

    .banner__titulo {
        font-size: 22px;
    }

    .banner__descricao {
        font-size: 14px;
        font-weight: 600;
    }

}