.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
  
}

.cabecalho__container {
    display: flex;
    align-items: center;
    
}

.cabecalho__pesquisa {
    background-color: var(--cinza-claro);
    width: 390px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.cabecalho__pesquisa::placeholder {
    background: url("/img/Icone-pesquisa.svg") right / auto no-repeat;
    color: var(--cinza-placeholder);
    font-family: var(--fonte-padrao);
}

.cabecalho__botao {
    background-color: transparent;
    color: var(--azul-botao);
    border: 1px solid var(--azul-botao);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 1rem 4rem;
}

@media screen and (max-width: 1024px) {
    .cabecalho {
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .cabecalho__imagem {
        width: 100px;
    }

    .cabecalho__pesquisa {
        width: 270px;
    }

    .cabecalho__botao {
        padding: .5rem 3rem;
        font-size: 14px;
        font-weight: 600;
    }

}