.produtos {
    color: var(--cor-texto-secao);
    margin: 4rem 7rem;
}

.produtos__secao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

.produtos__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produtos__titulo {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 1rem;
}

.produtos__link {
    color: var(--azul-botao);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.produtos__link img {
    margin-left: .5rem;
    vertical-align: top;
    width: 13px;
}

.produtos__lista {
    display: flex;
    justify-content: space-between;
}

.produtos__item-titulo {
    font-weight: 500;
    margin-top: 0.5rem;
}

.produtos__item-preco {
    font-weight: 700;
    font-size: 16px;
    margin: .5rem 0;
}

.produtos__item-link {
    color: var(--azul-botao);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {

    .produtos {
        margin: 2rem;
    }

    .produtos__titulo {
        font-size: 22px;
    }

    .produtos__item-img {
        max-width: 160px;
    }

    .ultimos {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .meio {
        display: none;
    }

    .produtos {
        margin: 1rem;
    }

    .produtos__item-img {
        max-width: 145px;
    }
}